name: Build app and update Docker image

on:
  push:
    branches:
      - master

jobs:
  publish:
    uses: netwerk-digitaal-erfgoed/workflows/.github/workflows/deploy.yml@main
    secrets: inherit
